# === Build system ===
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Python virtual environment
venv/

# === Fichiers objets et binaires ===
*.o
*.out
*.exe

# === Fichiers temporaires / système ===
*.log
*.tmp
*.swp
.DS_Store

# === Ignorer uniquement les fichiers .raw dans le dossier images ===
images/*.raw
